<div class="grid-col2">
  <% @article.each do |article| %>
    <%= render partial: "card", locals: { article: article } %>
  <% end %>
</div>

<%= link_to 'New', new_article_path, class: "btn btn-outline-primary" %>

<%= will_paginate @article, class: "flickr_pagination" %>

<style lang="scss" scoped>
  .grid-col2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
  }
</style>