<h1>게시글</h1>

<div class="grid-col2">
  <% @article.each do |article| %>
    <%= render partial: "card", locals: { article: article } %>
  <% end %>
</div>

<%= button_to '작성', new_article_path, method: :get, class: "btn btn-outline-primary", disabled: !user_signed_in? %>

<%= will_paginate @article, class: "flickr_pagination" %>

<style lang="scss" scoped>
  .grid-col2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
  }
</style>