<h1>채팅방</h1>

<div class="container">
  <div class="row">
    <div class="col-9 p-l-0">
      <div class="chatroom card">
        <div class="card-header">
          메세지
        </div>
        <div class="card-body">
          <%= render @messages %>
        </div>
        <div class="card-footer text-muted">
          <%= form_with(model: Message, local: true) do |f| %>
            <div class="input-group">
              <%= f.text_area :message, class: "form-control m-r-10", :rows => 1 %>
              <%= f.button :submit, class: "chat-button" do %>
                <i class="fas fa-arrow-circle-up fa-lg"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-3 p-r-0">
      <div class="chatroom card">
        <div class="card-header">
          온라인 유저
        </div>
        <div class="card-body">
          <p class="card-text">유준열</p>
          <p class="card-text">라윤희</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss" scoped>
  .chatroom {
      height: 60vh;
  }

  .chat-button {
      color: #2E2F30;
      background: none;
      border: none;
      padding: 0;
  }

  .input-group {
      display: flex;
      flex-direction: row;
  }
</style>