<div class="jumbotron">
  <p class="title f-bold">윤희와 준욜이 프라이빗 블로그</p>
</div>

<style lang="scss">
  .jumbotron {
      background-image: url('http://photo.vanillabridge.com/banners/couple.jpeg');
      background-size: cover;
      height: 400px;
  }

  .title {
      color: blueviolet;
      font-weight: 500;
  }
</style>